<footer class="footer footer--inner">
	<div class="footer__container footer__column container">
		<div class="footer__feedback">
			<h3 class="footer__title no-toggle">Будьте всегда в курсе!</h3>
			<form action="" method="post" class="footer__subscribe subscribe">
				<label for="leave-mail" class="visually-hidden">Оставьте ваш e-mail</label>
				<input id="leave-mail" type="email" class="subscribe__input" placeholder="Ваш e-mail" required>
				<button class="subscribe__button" type="submit">
					<span class="visually-hidden">Отправить</span>
					<svg class="subscribe__arrow" width="13" height="24">
						<use xlink:href="img/icons/sprite.svg#arrow-right"></use>
					</svg>
				</button>
			</form>
			<div class="footer__feedback-wrapper">
				<a href="#" class="footer__button simple-button">Обратная связь</a>
				<button type="button" class="footer__call-form call-form" id="FORM_MISTAKE">Нашли ошибку?</button>
			</div>
			<div class="footer__contacts-wrapper footer__contacts-wrapper--top">
				<h3 class="footer__title no-toggle">
					<a class="footer__link footer__link--title no-toggle">Контакты</a>
				</h3>
				<ul class="footer__contacts contacts">
					<li>
						<a href="tel:84954015252" class="contacts__link contacts__link--phone">
							<svg class="contacts__icon" width="11" height="18">
								<use xlink:href="img/icons/sprite.svg#mobile"></use>
							</svg>
							8 (495) 401 52 52
						</a>
					</li>
					<li>
						<a href="mailto:info@defo.ru" class="contacts__link contacts__link--mail">
							<svg class="contacts__icon" width="14" height="11">
								<use xlink:href="img/icons/sprite.svg#mail"></use>
							</svg>
							info@defo.ru
						</a>
					</li>
					<li>
						<a class="contacts__link contacts__link--geo">
							<svg class="contacts__icon" width="10" height="14">
								<use xlink:href="img/icons/sprite.svg#geo"></use>
							</svg>
							Москва
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__wrapper">
			<div class="footer__list-wrapper">
				<h3 class="footer__title">
					<a class="footer__link footer__link--title">Как приобрести</a>
				</h3>
				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link">Каталог</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Способы оплаты</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Онлайн-кредит</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Гарантия</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Адреса магазнов</a>
					</li>
				</ul>
			</div>
			<div class="footer__list-wrapper">
				<h3 class="footer__title">
					<a class="footer__link footer__link--title">Услуги</a>
				</h3>
				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link">Дизайн-проект</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Выезд специалиста</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Тест-драйв</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Консультация эксперта</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Доставка и сборка</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Вывоз упаковки</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Переезд</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Мебель по индивидуальному проекту</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Документы для госзаказа</a>
					</li>
				</ul>
			</div>
			<div class="footer__list-wrapper">
				<h3 class="footer__title">
					<a class="footer__link footer__link--title">О компании</a>
				</h3>
				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link">Контакты</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Портфолио</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Производство</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Офисы продаж</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Награды и сертификаты</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Политика конфиденциальности</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Вакансии</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Мы в соцсетях</a>
					</li>
				</ul>
			</div>
			<div class="footer__list-wrapper">
				<h3 class="footer__title">
					<a class="footer__link footer__link--title">Сервис</a>
				</h3>
				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link">Персональный менеджер</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Как заказать товар</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Оплата</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Гарантия и возврат</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Обслуживание</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Офис под ключ</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Информационные материалы</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">3D-планировщик</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Дизайнерам и архитекторам</a>
					</li>
				</ul>
			</div>
			<div class="footer__list-wrapper">
				<h3 class="footer__title">
					<a class="footer__link footer__link--title">Сотрудничество</a>
				</h3>
				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link">Арендодателям</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Дизайнерским бюро</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Поставщикам</a>
					</li>
					<li class="footer__item">
						<a class="footer__link">Портал поставщиков</a>
					</li>
				</ul>
				<div class="footer__payment-social">
					<ul class="footer__payment payment">
						<li class="payment__element">
							<span class="visually-hidden">Вы можете оплатить свои покупки картой visa</span>
							<img class="lazy-image" data-src="img/icons/visa.png" alt="Вы можете оплатить свои покупки картой visa" width="38" height="25">
						</li>
						<li class="payment__element">
							<span class="visually-hidden">Вы можете оплатить свои покупки mastercard</span>
							<img class="lazy-image" data-src="img/icons/mastercard.png" alt="Вы можете оплатить свои покупки mastercard" width="38" height="25">
						</li>
						<li class="payment__element">
							<span class="visually-hidden">Вы можете оплатить свои покупки картой МИР</span>
							<img class="lazy-image" data-src="img/icons/mir.png" alt="Вы можете оплатить свои покупки картой МИР" width="46" height="25">
						</li>
					</ul>
					<ul class="footer__social social">
						<li>
							<a href="#" class="social__link">
								<span class="visually-hidden">Мы в Фейсбуке</span>
								<svg class="social__icon" width="32" height="32">
									<use xlink:href="img/icons/sprite.svg#social-fb"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="#" class="social__link social__link--inst">
								<span class="visually-hidden">Наш инстаграм с офисной мебелью</span>
								<svg class="social__icon social__icon--inst" width="32" height="32">
									<use xlink:href="img/icons/sprite.svg#social-inst"></use>
								</svg>
								<span class="inst-desc">office</span></a>
						</li>
						<li class="social__item social__item--vk">
							<a href="#" class="social__link">
								<span class="visually-hidden">Мы в Вконтакте</span>
								<svg class="social__icon" width="32" height="32">
									<use xlink:href="img/icons/sprite.svg#social-vk"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="#" class="social__link social__link--inst">
								<span class="visually-hidden">Наш инстарграм с мебелью для дома</span>
								<svg class="social__icon social__icon--inst" width="32" height="32">
									<use xlink:href="img/icons/sprite.svg#social-inst"></use>
								</svg>
								<span class="inst-desc">home</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__contacts-wrapper footer__contacts-wrapper--bottom">
			<h3 class="footer__title no-toggle">
				<a class="footer__link footer__link--title no-toggle">Контакты</a>
			</h3>
			<ul class="footer__contacts contacts">
				<li>
					<a href="tel:84954015252" class="contacts__link contacts__link--phone">
						<svg class="contacts__icon" width="11" height="18">
							<use xlink:href="img/icons/sprite.svg#mobile"></use>
						</svg>
						8 (495) 401 52 52
					</a>
				</li>
				<li>
					<a href="mailto:info@defo.ru" class="contacts__link contacts__link--mail">
						<svg class="contacts__icon" width="14" height="11">
							<use xlink:href="img/icons/sprite.svg#mail"></use>
						</svg>
						info@defo.ru
					</a>
				</li>
				<li>
					<a class="contacts__link contacts__link--geo">
						<svg class="contacts__icon" width="10" height="14">
							<use xlink:href="img/icons/sprite.svg#geo"></use>
						</svg>
						Москва
					</a>
				</li>
			</ul>
			<ul class="footer__social social">
				<li>
					<a href="#" class="social__link">
						<span class="visually-hidden">Мы в Фейсбуке</span>
						<svg class="social__icon" width="32" height="32">
							<use xlink:href="img/icons/sprite.svg#social-fb"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="#" class="social__link social__link--inst">
						<span class="visually-hidden">Наш инстаграм с офисной мебелью</span>
						<svg class="social__icon social__icon--inst" width="32" height="32">
							<use xlink:href="img/icons/sprite.svg#social-inst"></use>
						</svg>
						<span class="inst-desc">office</span></a>
				</li>
				<li>
					<a href="#" class="social__link">
						<span class="visually-hidden">Мы в Вконтакте</span>
						<svg class="social__icon" width="32" height="32">
							<use xlink:href="img/icons/sprite.svg#social-vk"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="#" class="social__link social__link--inst">
						<span class="visually-hidden">Наш инстарграм с мебелью для дома</span>
						<svg class="social__icon social__icon--inst" width="32" height="32">
							<use xlink:href="img/icons/sprite.svg#social-inst"></use>
						</svg>
						<span class="inst-desc">home</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer__legal">
		<div class="footer__container footer__legal-container container">
			<a class="footer__legal-link" href="#">Правовая информация</a>
			<ul class="footer__payment footer__payment--cellar payment">
				<li class="payment__element">
					<span class="visually-hidden">Вы можете оплатить свои покупки картой visa</span>
					<img class="lazy-image" data-src="img/icons/visa.png" alt="Вы можете оплатить свои покупки картой visa" width="38" height="25">
				</li>
				<li class="payment__element">
					<span class="visually-hidden">Вы можете оплатить свои покупки mastercard</span>
					<img class="lazy-image" data-src="img/icons/mastercard.png" alt="Вы можете оплатить свои покупки mastercard" width="38" height="25">
				</li>
				<li class="payment__element">
					<span class="visually-hidden">Вы можете оплатить свои покупки картой МИР</span>
					<img class="lazy-image" data-src="img/icons/mir.png" alt="Вы можете оплатить свои покупки картой МИР" width="46" height="25">
				</li>
			</ul>
			<div class="footer__contacts-wrapper footer__contacts-wrapper--cellar">
				<ul class="footer__social social">
					<li>
						<a href="#" class="social__link">
							<span class="visually-hidden">Мы в Фейсбуке</span>
							<svg class="social__icon" width="32" height="32">
								<use xlink:href="img/icons/sprite.svg#social-fb"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" class="social__link social__link--inst">
							<span class="visually-hidden">Наш инстаграм с офисной мебелью</span>
							<svg class="social__icon social__icon--inst" width="32" height="32">
								<use xlink:href="img/icons/sprite.svg#social-inst"></use>
							</svg>
							<span class="inst-desc">office</span></a>
					</li>
					<li class="social__item social__item--vk">
						<a href="#" class="social__link">
							<span class="visually-hidden">Мы в Вконтакте</span>
							<svg class="social__icon" width="32" height="32">
								<use xlink:href="img/icons/sprite.svg#social-vk"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" class="social__link social__link--inst">
							<span class="visually-hidden">Наш инстарграм с мебелью для дома</span>
							<svg class="social__icon social__icon--inst" width="32" height="32">
								<use xlink:href="img/icons/sprite.svg#social-inst"></use>
							</svg>
							<span class="inst-desc">home</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		<div class="footer__container footer__copyright-container container">
			<span class="footer__copyright-text">2019 © ДЭФО - мебель для офиса и дома</span>
		</div>
	</div>
</footer>


<button class="button-up" type="button" id="toTop">
	<span class="visually-hidden">Наверх!</span>
	<svg width="28" height="15">
		<use xlink:href="img/icons/sprite.svg#arrow-big-gray"></use>
	</svg>
</button>

<div class="overlay"></div>
