<div class="header__desktop_for-fixed">
	<div class="header__wrapper">

		<!--ВЕРХНЯЯ ЧАСТЬ ШАПКИ-->
		<div class="header__wrapper_top">
			<div class="container">
				<div class="header__wrapper_top-content">
					<div class="segments-select segments--mobile">
						<div class="segments-current">
							<p>Интернет магазин</p>
							<svg width="14" height="8">
								<use xlink:href="img/icons/sprite.svg#segments-arrow"></use>
							</svg>
						</div>
						<div class="segments-other">
							<ul>
								<li><a href="javascript:;">Интернет магазин</a></li>
								<li><a href="javascript:;">ДЭФО Бизнес</a></li>
								<li><a href="javascript:;">Госзаказчикам</a></li>
								<li><a href="javascript:;">ДЭФО дисконт</a></li>
								<li><a href="javascript:;">Дизайнерам и архитекторам</a></li>
							</ul>
						</div>
					</div>

					<nav class="segments-menu segments--desktop">
						<ul>
							<li><a href="">Интернет магазин</a></li>
							<li><a href="">ДЭФО Бизнес</a></li>
							<li><a href="">Госзаказчикам</a></li>
							<li>
								<a href="" class="link-to-other-page">ДЭФО дисконт
									<svg width="8" height="8">
										<use xlink:href="img/icons/sprite.svg#square-arrow"></use>
									</svg>
								</a>
							</li>
							<li><a href="">Дизайнерам и архитекторам</a></li>
						</ul>
					</nav>

					<div class="header__icons">
						<div class="header__icons--for-search">
							<a href="javascript:;" class="header__icons-item search">
								<svg width="17" height="17">
									<use xlink:href="img/icons/sprite.svg#search-submit"></use>
								</svg>
							</a>
						</div>
						<div class="header__icons--for-action">
							<a href="javascript:;" class="header__icons-item map-mark">
								<svg width="13" height="19">
									<use xlink:href="img/icons/sprite.svg#map-mark-stroke"></use>
								</svg>
							</a>
							<a href="javascript:;" class="header__icons-item call">
								<svg width="17" height="17">
									<use xlink:href="img/icons/sprite.svg#header-phone-stroke"></use>
								</svg>
							</a>
						</div>

						<div class="header__icons--for-buy">
							<a href="javascript:;" class="header__icons-item delay">
								<!--<span class="qount">99+</span>-->
								<svg width="17" height="16">
									<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
								</svg>
							</a>
							<a href="javascript:;" class="header__icons-item compare">
								<span class="qount">99+</span>
								<svg width="17" height="16">
									<use xlink:href="img/icons/sprite.svg#basket-compare"></use>
								</svg>
							</a>
							<a href="javascript:;" class="header__icons-item cabinet">
								<svg width="16" height="16">
									<use xlink:href="img/icons/sprite.svg#user"></use>
								</svg>
							</a>
							<a href="javascript:;" class="header__icons-item basket">
								<span class="qount">99+</span>
								<svg width="18" height="20">
									<use xlink:href="img/icons/sprite.svg#basket"></use>
								</svg>
							</a>
						</div>
					</div>

					<div class="header__wrapper_top-items top-items--desktop">
						<div class="city-choose map-mark">
							<svg width="13" height="19">
								<use xlink:href="img/icons/sprite.svg#map-mark-stroke"></use>
							</svg>
						</div>
						<div class="city-choose">
							<span>Санкт-Петербург</span>
							<div class="arrow">
								<svg width="10" height="6">
									<use xlink:href="img/icons/sprite.svg#city-choose-arrow"></use>
								</svg>
							</div>
						</div>

						<div class="phone-desktop">
							<a href="javascript:;">+7 (800) 770 01 20</a>
							<a href="javascript:;">+7 (800) 770 01 20</a>
						</div>
						<div class="phone-choose">
							<p class="phone">+ 8 (800) 770 01 20</p>
							<div class="phone-toggle">
								<svg width="10" height="6">
									<use xlink:href="img/icons/sprite.svg#city-choose-arrow"></use>
								</svg>
							</div>
							<div class="phone-dropdown">
								<a href="javascript:;">+7 (800) 770 01 20</a>
							</div>

						</div>
					</div>
				</div>

			</div>
			<!--ПОПАП ГОРОДОВ-->
			<div class="city-popup-current">
				<h2>Ваш город - Санкт-Петербург?</h2>
				<div class="city-popup-current__buttons">
					<a href="javascript:;" class="city-popup-current__btn yes">Да, верно</a>
					<a href="javascript:;" class="city-popup-current__btn no">Выбрать другой</a>
				</div>
			</div>

			<div class="city-popup scrollbar-inner">
				<div class="city-popup__content">
					<div class="city-popup__top">
						<h2>Выберите город</h2>
						<div class="city-popup__close">
							<span></span>
							<span></span>
						</div>
					</div>
					<form action="" class="city-popup__form">
						<button type="submit"class="city-popup__sumbit">
							<svg width="24" height="25">
								<use xlink:href="img/icons/sprite.svg#search-submit"></use>
							</svg>
						</button>
						<input type="text" class="city-popup__input" placeholder="Введите название города">
					</form>

					<div class="city-popup__list">
						<div class="city-popup__list-item">
							<a href="" class="city-popup__list-item-name">Москва</a>
							<a href="" class="city-popup__list-item-name">Санкт-Петербург</a>
						</div>

						<div class="city-popup__list-item">
							<h3 class="city-popup__list-item-letter">а</h3>

							<a href="" class="city-popup__list-item-name">Москва</a>
							<a href="" class="city-popup__list-item-name">Санкт-Петербург</a>
						</div>

						<div class="city-popup__list-item">
							<h3 class="city-popup__list-item-letter">б</h3>

							<a href="" class="city-popup__list-item-name">Белгород</a>
							<a href="" class="city-popup__list-item-name">Благовещенск</a>
						</div>

						<div class="city-popup__list-item">
							<h3 class="city-popup__list-item-letter">в</h3>

							<a href="" class="city-popup__list-item-name">Москва</a>
							<a href="" class="city-popup__list-item-name">Санкт-Петербург</a>
						</div>

						<div class="city-popup__list-item">
							<h3 class="city-popup__list-item-letter">Г</h3>

							<a href="" class="city-popup__list-item-name">Москва</a>
							<a href="" class="city-popup__list-item-name">Санкт-Петербург</a>
							<a href="" class="city-popup__list-item-name">Белгород</a>
							<a href="" class="city-popup__list-item-name">Благовещенск</a>
						</div>

						<div class="city-popup__list-item">
							<h3 class="city-popup__list-item-letter">Д</h3>

							<a href="" class="city-popup__list-item-name">Москва</a>
							<a href="" class="city-popup__list-item-name">Санкт-Петербург</a>
							<a href="" class="city-popup__list-item-name">Белгород</a>
							<a href="" class="city-popup__list-item-name">Благовещенск</a>
						</div>

					</div>
				</div>
			</div>
			<!--=========-->
		</div>

		<!--НИЖНЯЯ ЧАСТЬ ШАПКИ-->
		<div class="header__mobile_for-fixed">
			<div class="header__wrapper_bottom">
				<div class="container">
					<div class="header__wrapper_bottom-content">
						<div class="left">
							<div class="burger-block">
								<div class="burger">
									<span></span>
									<span></span>
									<span></span>
								</div>
								<p>Каталог</p>
							</div>
							<a href="javascript:;" class="logo">
								<img src="img/logo-mobile.svg" alt="">
							</a>
						</div>

						<div class="right">
							<nav class="page-menu page-menu--desktop">
								<ul>
									<li><a href="javascript:;">Салоны</a></li>
									<li><a href="javascript:;">О нас</a></li>
									<li><a href="javascript:;">Услуги</a></li>
									<li><a href="javascript:;">Акции</a></li>
									<li><a href="javascript:;">Доставка и сборка</a></li>
									<li><a href="javascript:;">Поддержка</a></li>

								</ul>
							</nav>
							<div class="items">
								<form action="" class="search-form search-form--desktop">
									<!--<div class="search-filter">
										<div class="filter-chooser">
											<span class="item" data-val="alphabet">По алфавиту</span>
											<span class="arrow">
										<svg width="11" height="10">
											<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
										</svg>
									</span>
										</div>
										<div class="filter-dropdown">
											<span data-val="popular">По популярности</span>
											<span data-val="price">По цене</span>
											<span data-val="alphabet" class="active">По алфавиту</span>
										</div>
									</div>-->
									<div class="search-input-div">
										<input type="text" class="search-input" placeholder="Поиск среди 50 000 моделей мебели">
									</div>

									<div class="search-button-div">
										<button type="submit">
											<svg width="17" height="17">
												<use xlink:href="img/icons/sprite.svg#search-submit"></use>
											</svg>
										</button>
									</div>
								</form>
								<div class="header__icons">
									<div class="header__icons--for-search">
										<a href="javascript:;" class="header__icons-item search">
											<svg width="17" height="17">
												<use xlink:href="img/icons/sprite.svg#search-submit"></use>
											</svg>
										</a>
									</div>
									<div class="header__icons--for-action">
										<a href="javascript:;" class="header__icons-item map-mark">
											<svg width="13" height="19">
												<use xlink:href="img/icons/sprite.svg#map-mark-stroke"></use>
											</svg>
										</a>
										<a href="javascript:;" class="header__icons-item call">
											<svg width="17" height="17">
												<use xlink:href="img/icons/sprite.svg#header-phone-stroke"></use>
											</svg>
										</a>
									</div>
									<div class="header__icons--for-buy">
										<a href="javascript:;" class="header__icons-item delay">
											<!--<span class="qount">99+</span>-->
											<svg width="17" height="16">
												<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
											</svg>
										</a>
										<a href="javascript:;" class="header__icons-item compare">
											<span class="qount">99+</span>
											<svg width="17" height="16">
												<use xlink:href="img/icons/sprite.svg#basket-compare"></use>
											</svg>
										</a>
										<a href="javascript:;" class="header__icons-item cabinet">
											<svg width="16" height="16">
												<use xlink:href="img/icons/sprite.svg#user"></use>
											</svg>
										</a>
										<a href="javascript:;" class="header__icons-item basket">
											<span class="qount">99+</span>
											<svg width="18" height="20">
												<use xlink:href="img/icons/sprite.svg#basket"></use>
											</svg>
										</a>
									</div>
								</div>

								<div class="page-menu__toggle">
									<svg width="20" height="12">
										<use xlink:href="img/icons/sprite.svg#header-dropdown"></use>
									</svg>
								</div>

							</div>
						</div>

						<div class="product-menu scrollbar-inner">
							<div class="breadcrumbs breadcrumbs--menu">
								<ul class="breadcrumbs__list">
									<li class="breadcrumbs__item back">
										<svg width="7" height="10">
											<use xlink:href="img/icons/sprite.svg#arrow-left-bold"></use>
										</svg>
										<a href="javascript:;" class="breadcrumbs__item-link">В каталог</a>
									</li>

								</ul>
							</div>

							<ul class="product-menu__list">
								<li class="product-menu__item">
									<a href="javascript:;" class="product-menu__item_link">Офисная мебель</a>
									<ul class="dropdown-menu js-first-lev">
										<li class="dropdown-menu__item">
											<a class="dropdown-menu__item-link" href="javascript:;">Кабинет руководителя</a>
											<ul class="dropdown-menu js-second-lev">

												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Второй уровень</a>
												</li>
												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Элемент элемент</a>
												</li>
											</ul>
										</li>
										<li class="dropdown-menu__item">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
											<ul class="dropdown-menu js-second-lev">
												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Элемент элемент11</a>
												</li>
												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Элемент элемент</a>
												</li>
											</ul>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Кабинет руководителя</a>
										</li>
									</ul>
								</li>
								<li class="product-menu__item">
									<a href="javascript:;" class="product-menu__item_link">Кресла и стулья</a>
									<ul class="dropdown-menu js-first-lev">
										<li class="dropdown-menu__item">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
											<ul class="dropdown-menu js-second-lev">
												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Элемент элемент</a>
												</li>
												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Элемент элемент</a>
												</li>
											</ul>
										</li>
										<li class="dropdown-menu__item">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
											<ul class="dropdown-menu js-second-lev">
												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Элемент элемент11</a>
												</li>
												<li class="dropdown-menu__item">
													<a class="dropdown-menu__item-link" href="javascript:;">Элемент элемент</a>
												</li>
											</ul>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
										<li class="dropdown-menu__item without-dropdown">
											<a class="dropdown-menu__item-link" href="javascript:;">Какой-то элемент</a>
										</li>
									</ul>
								</li>
								<li class="product-menu__item without-dropdown"><a href="javascript:;" class="product-menu__item_link">Сейфы и металическая мебель</a></li>
								<li class="product-menu__item without-dropdown"><a href="javascript:;" class="product-menu__item_link">Специализированная мебель</a></li>
								<li class="product-menu__item without-dropdown"><a href="javascript:;" class="product-menu__item_link">Мебель для дома</a></li>
								<li class="product-menu__item without-dropdown"><a href="javascript:;" class="product-menu__item_link">Аксессуары и декуры</a></li>
								<li class="product-menu__item without-dropdown"><a href="javascript:;" class="product-menu__item_link">Акции</a></li>
								<li class="product-menu__item without-dropdown"><a href="javascript:;" class="product-menu__item_link">Дисконт</a></li>

							</ul>
							<ul class="page-menu__list">
								<li class="page-menu__item"><a href="" class="page-menu__item-link">Салоны</a></li>
								<li class="page-menu__item"><a href="" class="page-menu__item-link">О компании</a></li>
								<li class="page-menu__item"><a href="" class="page-menu__item-link">Услуги</a></li>
								<li class="page-menu__item"><a href="" class="page-menu__item-link">Акции</a></li>
								<li class="page-menu__item"><a href="" class="page-menu__item-link">Доставка и сборка</a></li>
								<li class="page-menu__item"><a href="" class="page-menu__item-link">Поддержка</a></li>
							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>


