<article class="article">
	<section class="article__blocks article__wrapper">
		<div class="article__block">
			<h2 class="article__title-text visually-hidden">Описание велюра</h2>
			<p class="article__text article__br"> Велюр — практичная альтернатива бархату. Это ткань с небольшим ворсом, очень приятная и нежная на ощупь, что делает ее подходящей для обивки мягкой <br>мебели.
				Разберемся в видах велюра, особенностях ткани и специфике ухода, чтобы было чем руководствоваться при выборе дивана.</p>
			<p class="article__text article__br-full"> Велюр может быть на хлопчатобумажной, шерстяной или синтетической основе.<br> А по внешнему виду делится на:</p>
			<ul class="article__lists">
				<li class="article__list">
					<p class="article__text"><strong>Гладкий.</strong><br>Равномерное полотно с вертикальным ворсом.</p>
				</li>
				<li class="article__list">
					<p class="article__text"><strong>Тисненый.</strong><br>Ткань с рисунком, который получается за счет укладки ворса в нескольких направлениях.</p>
				</li>
				<li class="article__list">
					<p class="article__text"><strong>Фасонный.</strong><br>Имеет определенную фактуру. Ворсинки могут быть разной высоты и располагаться под наклоном.</p>
				</li>
			</ul>
		</div>
		<div class="article__gallery">
			<div class="article__item">
				<img src="img/banners/velur1.jpg" class="article__img article__img1 lazy-image" width="304" height="182" alt="велюр красный, гладкий">
			</div>
			<div class="article__item">
				<img src="img/banners/velur2.jpg" class="article__img article__img2 lazy-image" width="304" height="182" alt="велюр коричневый, тисненый">
			</div>
			<div class="article__item">
				<img src="img/banners/velur3.jpg" class="article__img article__img3 lazy-image" width="304" height="182" alt="велюр фиолетовый, фасонный">
			</div>
		</div>
		<div class="article__block">
			<h3 class="article__title">Плюсы и минусы ткани</h3>
			<p class="article__text">Велюр смотрится роскошно за счет своего сходства с бархатом, но внешние характеристики не единственный плюс. Все преимущества:</p>
			<ul class="article__lists article__lists-mark article__lists-circle">
				<li class="article__list">
					<p class="article__text">мягкий, приятный на ощупь</p>
				</li>
				<li class="article__list">
					<p class="article__text">хорошо сохраняет тепло</p>
				</li>
				<li class="article__list">
					<p class="article__text">не мнется, не заламывается</p>
				</li>
				<li class="article__list">
					<p class="article__text">прочный, ворсинки не выпадают</p>
				</li>
				<li class="article__list">
					<p class="article__text">не растягивается</p>
				</li>
				<li class="article__list">
					<p class="article__text">долго не выгорает</p>
				</li>
				<li class="article__list">
					<p class="article__text">антивандальный: устойчив к когтям домашних животных благодаря структурным особенностям переплетения нитей.</p>
				</li>
			</ul>
		</div>
		<div class="article__block">
			<h3 class="article__title">Недостатки у велюра тоже есть, но они решаемы</h3>
			<p class="article__text article__br">Велюр — практичная альтернатива бархату. Это ткань с небольшим ворсом, очень приятная и нежная на ощупь, что делает ее подходящей для обивки мягкой <br>мебели. Разберемся в видах велюра, особенностях ткани и специфике ухода,
				чтобы было чем руководствоваться при выборе дивана.</p>
			<ol class="article__lists article__lists-mark2 article__lists-number">
				<li class="article__list">
					<p class="article__text">В гладком типе ткани ворс может ломаться в разные стороны. Поэтому чтобы привести диван в порядок, необходимо «причесать» ворс в одном направлении.</p>
				</li>
				<li class="article__list">
					<p class="article__text">Может собирать мусор, особенно шерсть домашних животных. Удалить ее легко с помощью липкого валика.</p>
				</li>
				<li class="article__list">
					<p class="article__text">Велюр можно очистить от пятен, но если они появляются постоянно, ткань быстро выйдет из строя. Поэтому когда дома маленькие дети или часто приходят гости, используйте чехол или застилайте диван пледом.</p>
				</li>
			</ol>
		</div>
		<div class="article__send">
			//= partials/_send.html
		</div>
		<div class="article__block">
			<h3 class="article__title">Как чистить велюр?</h3>
			<ol class="article__lists article__lists-mark article__lists-number">
				<li class="article__list article__list--indent">
					<p class="article__text article__br">С пылью и сухим мусором легко справиться с помощью пылесоса, щетки или валика.</p>
				</li>
				<li class="article__list">
					<p class="article__text">Если появилось пятно, не трите поверхность дивана, это нарушит структуру ворса. Замочите участок мыльным раствором и осторожно вытрите мягкой тряпкой.</p>
				</li>
				<li class="article__list">
					<p class="article__text">При любом способе чистки двигайтесь по направлению ворса, чтобы не повредить его структуру и внешний вид мебели.</p>
				</li>
				<li class="article__list">
					<p class="article__text">Не используйте средства, содержащие отбеливатели, щелочи, агрессивную химию, иначе диван быстро придет в негодность.</p>
				</li>
			</ol>
		</div>
	</section>
</article>
