<article class="basket-popup absolute" id="basketSticky">
	<header class="basket-popup__header">
		<h3 class="basket-popup__title">Корзина</h3>
		<button class="basket-popup__close">
			<span class="visually-hidden">Закрыть окно</span>
		</button>
	</header>

	<div class="basket-popup__table-wrapper scrollbar-inner">
		<table class="basket-popup__table products-table">
			<tr class="products-table__title">
				<th class="products-table__title-item" colspan="2">Наименование</th>
				<th class="products-table__title-item">Цена</th>
				<th class="products-table__title-item">Количество</th>
				<th class="products-table__title-item" colspan="3">Сумма</th>
			</tr>
			<tr class="products-table__stroke">
				<td class="products-table__image">
					<img src="img/products/red.jpg" alt="">
				</td>
				<td class="products-table__name">
					<p class="products-table__name-title">Lotus</p>
					<p class="products-table__vendor-code vendor-code">Артикул 7#79548</p>
					<p class="products-table__vendor-code vendor-code">Код товара 237486</p>
					<p class="products-table__texture"><b>Текструра</b> красная</p>
				</td>
				<td class="products-table__price">
					<div class="prices">
						<div class="prices__wrapper">
							<div class="prices__sale-wrap">
								<p class="prices__old">29 260 ₽</p>
							</div>
							<p class="prices__new">20 130 ₽</p>
						</div>
					</div>
				</td>
				<td class="products-table__counter">
					<p class="change-amount">
						<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
						<input type="text" class="change-amount__text" name="quantity" value="1">
						<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
					</p>
				</td>
				<td class="products-table__cost">
					<span>123 130 ₽</span>
				</td>
				<td class="products-table__favorites">
					<div class="icons icons--action">
						<button type="button" class="buy-icon delay" tabindex="0">
							<svg class="buy-icon__stroke" width="17" height="16">
								<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
							</svg>
							<span class="buy-icon__hint">В избранное</span>
						</button>
					</div>
				</td>
				<td class="products-table__delete">
					<button type="button">
						<span class="visually-hidden">Удалить товар</span>
					</button>
				</td>
			</tr>
			<tr class="products-table__stroke">
				<td class="products-table__image">
					<img src="img/products/red.jpg" alt="">
				</td>
				<td class="products-table__name">
					<p class="products-table__name-title">Lotus</p>
					<p class="products-table__vendor-code vendor-code">Артикул 7#79548</p>
					<p class="products-table__vendor-code vendor-code">Код товара 237486</p>
					<p class="products-table__texture"><b>Текструра</b> красная</p>
				</td>
				<td class="products-table__price">
					<div class="prices">
						<div class="prices__wrapper">
							<div class="prices__sale-wrap">
								<p class="prices__old">29 260 ₽</p>
							</div>
							<p class="prices__new">20 130 ₽</p>
						</div>
					</div>
				</td>
				<td class="products-table__counter">
					<p class="change-amount">
						<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
						<input type="text" class="change-amount__text" name="quantity" value="1">
						<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
					</p>
				</td>
				<td class="products-table__cost">
					<span>123 130 ₽</span>
				</td>
				<td class="products-table__favorites">
					<div class="icons icons--action">
						<button type="button" class="buy-icon delay" tabindex="0">
							<svg class="buy-icon__stroke" width="17" height="16">
								<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
							</svg>
							<span class="buy-icon__hint">В избранное</span>
						</button>
					</div>
				</td>
				<td class="products-table__delete">
					<button type="button">
						<span class="visually-hidden">Удалить товар</span>
					</button>
				</td>
			</tr>
			<tr class="products-table__stroke">
				<td class="products-table__image">
					<img src="img/products/red.jpg" alt="">
				</td>
				<td class="products-table__name">
					<p class="products-table__name-title">Lotus</p>
					<p class="products-table__vendor-code vendor-code">Артикул 7#79548</p>
					<p class="products-table__vendor-code vendor-code">Код товара 237486</p>
					<p class="products-table__texture"><b>Текструра</b> красная</p>
				</td>
				<td class="products-table__price">
					<div class="prices">
						<div class="prices__wrapper">
							<div class="prices__sale-wrap">
								<p class="prices__old">29 260 ₽</p>
							</div>
							<p class="prices__new">20 130 ₽</p>
						</div>
					</div>
				</td>
				<td class="products-table__counter">
					<p class="change-amount">
						<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
						<input type="text" class="change-amount__text" name="quantity" value="1">
						<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
					</p>
				</td>
				<td class="products-table__cost">
					<span>123 130 ₽</span>
				</td>
				<td class="products-table__favorites">
					<div class="icons icons--action">
						<button type="button" class="buy-icon delay" tabindex="0">
							<svg class="buy-icon__stroke" width="17" height="16">
								<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
							</svg>
							<span class="buy-icon__hint">В избранное</span>
						</button>
					</div>
				</td>
				<td class="products-table__delete">
					<button type="button">
						<span class="visually-hidden">Удалить товар</span>
					</button>
				</td>
			</tr>
			<tr class="products-table__stroke">
				<td class="products-table__image">
					<img src="img/products/red.jpg" alt="">
				</td>
				<td class="products-table__name">
					<p class="products-table__name-title">Lotus</p>
					<p class="products-table__vendor-code vendor-code">Артикул 7#79548</p>
					<p class="products-table__vendor-code vendor-code">Код товара 237486</p>
					<p class="products-table__texture"><b>Текструра</b> красная</p>
				</td>
				<td class="products-table__price">
					<div class="prices">
						<div class="prices__wrapper">
							<div class="prices__sale-wrap">
								<p class="prices__old">29 260 ₽</p>
							</div>
							<p class="prices__new">20 130 ₽</p>
						</div>
					</div>
				</td>
				<td class="products-table__counter">
					<p class="change-amount">
						<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
						<input type="text" class="change-amount__text" name="quantity" value="1">
						<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
					</p>
				</td>
				<td class="products-table__cost">
					<span>123 130 ₽</span>
				</td>
				<td class="products-table__favorites">
					<div class="icons icons--action">
						<button type="button" class="buy-icon delay" tabindex="0">
							<svg class="buy-icon__stroke" width="17" height="16">
								<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
							</svg>
							<span class="buy-icon__hint">В избранное</span>
						</button>
					</div>
				</td>
				<td class="products-table__delete">
					<button type="button">
						<span class="visually-hidden">Удалить товар</span>
					</button>
				</td>
			</tr>
		</table>
	</div>

	<div class="basket-popup__promo promo">
		<p class="promo__text">Введите промокод для получения дополнительной скидки. Скидки не суммируются!</p>
		<form action="" method="post" class="promo__form">
			<label for="promo-code" class="visually-hidden">Введите промокод</label>
			<input id="promo-code" type="text" class="promo__input" placeholder="Введите промокод" required>
			<button class="promo__button simple-button" type="submit">Применить</button>
		</form>
	</div>
	<footer class="basket-popup__footer">
		<div class="basket-popup__footer-top">
			<a href="#" class="basket-popup__offer" download>
				<svg width="10" height="10">
					<use xlink:href="img/icons/sprite.svg#download"></use>
				</svg>
				Скачать КП
			</a>
			<div class="basket-popup__cost-wrapper">
				<p class="basket-popup__cost-text">Стоимость товаров</p>
				<p class="basket-popup__prices prices">
					<span class="prices__cost">20 130 ₽</span>
					<span class="prices__vat">в т.ч. НДС</span>
				</p>
			</div>
		</div>
		<div class="basket-popup__buttons">
			<button class="basket-popup__button basket-popup__button--continue simple-button">Продолжить покупки</button>
			<a href="#" class="basket-popup__button basket-popup__button--order-btn simple-button simple-button--red">Оформить заказ</a>
		</div>
	</footer>
</article>

