<article class="comments">
	<div class="block-title">
		<h2>Комментарии</h2>
	</div>
	<section class="comments__box">
		<div class="comments__block">
			<div class="comments__images">
				<img src="img/face.jpg" class="comments__img" width="32" height="32" alt="">
			</div>
			<div class="comments__info">
				<p class="comments__autor">Константин Александрович</p>
				<time class="comments__time" datetime="21:37 10.12.19">21:37 10.12.19</time>
				<p class="comments__text">Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
					Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
					Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает
					только при включении ручного фокуса.</p>
			</div>
		</div>
		<div class="comments__block">
			<div class="comments__images">
				<img src="img/face.jpg" class="comments__img" width="32" height="32" alt="">
			</div>
			<div class="comments__info">
				<p class="comments__autor">Сергей Жуков</p>
				<time class="comments__time" datetime="22:05 09.12.19">22:05 09.12.19</time>
				<p class="comments__text">Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
					Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
					Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает
					только при включении ручного фокуса.</p>
			</div>
		</div>
	</section>
</article>
