<article class="comments">
	<div class="block-title">
		<h2>Комментарии</h2>
	</div>
	<section class="comments__box">
		<div class="comments__block">
			<div class="comments__images">
				<img src="img/face.jpg" class="comments__img" width="32" height="32" alt="">
			</div>
			<div class="comments__info">
				<p class="comments__autor">Константин Александрович</p>
				<time class="comments__time" datetime="21:37 10.12.19">21:37 10.12.19</time>
				<p class="comments__text">Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
					Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
					Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает
					только при включении ручного фокуса.</p>
				<div class="comments__buttons">
					<button class="comments__button comments__button-answer" type="button" name="button">Ответить</button>
					<button class="comments__button comments__toggle" type="button" name="button">Скрыть комментарии: <span>2</span></button>
				</div>
				<section class="comments__box comments__box--scroll-size">
					<div class="comments__block">
						<div class="comments__images">
							<img src="img/face.jpg" class="comments__img" width="32" height="32" alt="">
						</div>
						<div class="comments__info">
							<p class="comments__autor">Автор статьи</p>
							<time class="comments__time" datetime="21:37 10.12.19">21:37 10.12.19</time>
							<p class="comments__text">Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
								Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.</p>
							<div class="comments__buttons">
								<button class="comments__button comments__button-answer" type="button" name="button">Ответить</button>
							</div>
						</div>
					</div>
					<div class="comments__block">
						<div class="comments__images">
							<img src="img/face.jpg" class="comments__img" width="32" height="32" alt="">
						</div>
						<div class="comments__info">
							<p class="comments__autor">diamondback-083</p>
							<time class="comments__time" datetime="22:05 09.12.19">22:05 09.12.19</time>
							<p class="comments__text">Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
								Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.</p>
							<div class="comments__buttons">
								<button class="comments__button comments__button-answer" type="button" name="button">Ответить</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="comments__block">
			<div class="comments__images">
				<img src="img/face.jpg" class="comments__img" width="32" height="32" alt="">
			</div>
			<div class="comments__info">
				<p class="comments__autor">Сергей Жуков</p>
				<time class="comments__time" datetime="22:05 09.12.19">22:05 09.12.19</time>
				<p class="comments__text">Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
					Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
					Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает
					только при включении ручного фокуса.</p>
				<div class="comments__buttons">
					<button class="comments__button comments__button-answer" type="button" name="button">Ответить</button>
					<button class="comments__button comments__toggle" type="button" name="button">Показать комментарии: <span>0</span></button>
				</div>
			</div>
		</div>
	</section>
	<section class="comments-add connect">
		<form class="connect__form connect__form--direction" action="#" method="post">
			<div class="block-title">
				<h2 id="comments">Оставить комментарий</h2>
			</div>
			<button type="button" class="close close--comments-position" name="button" aria-label="Закрыть"></button>
			<textarea class="connect__field" name="name" rows="8" cols="80" resize="vertical" placeholder="Введите ваш ответ..." autofocus></textarea>
			<div class="connect__control">
				<button class="connect__send" type="submit" name="button">отправить</button>
				<p class="connect__text">Перед отправкой убедитесь, что он не нарушает <a href="#" class="connect__link">правил написания отзывов и комментариев</a></p>
			</div>
		</form>
	</section>
	<section class="comments-answer connect">
		<form class="connect__form connect__form--direction" action="#" method="post">
			<div class="block-title">
				<h2>Ответ на комментарий</h2>
			</div>
			<p class="comments-answer__text"></p>
			<button type="button" class="close close--comments-position" name="button" aria-label="Закрыть"></button>
			<textarea class="connect__field" name="name" rows="8" cols="80" resize="vertical" placeholder="Введите ваш ответ..." autofocus></textarea>
			<div class="connect__control">
				<button class="connect__send" type="submit" name="button">отправить</button>
				<p class="connect__text">Перед отправкой убедитесь, что он не нарушает <a href="#" class="connect__link">правил написания отзывов и комментариев</a></p>
			</div>
		</form>
	</section>
</article>
