<section class="partners margin-60">
	<div class="block-title">
		<h2>
			Наши партнеры
		</h2>

	</div>
	<div class="partners__list">
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
		<a href="" class="partners__link">
			<img data-src="img/icons/gasprom.svg" class="lazy-image" alt="" width="127" height="62">
		</a>
	</div>
</section>
