<section class="question connect">
	<form class="connect__form connect__form--question-position" action="#" method="post">
		<div class="block-title">
			<h2>Задать вопрос автору</h2>
		</div>
		<button type="button" class="close close--question-position" name="button" aria-label="Закрыть"></button>
		<textarea class="connect__field" name="name" rows="8" cols="80" resize="vertical" placeholder="Введите ваш вопрос.."></textarea>
		<div class="connect__control">
			<button class="connect__send" type="submit" name="button">отправить</button>
			<p class="connect__text">Перед отправкой убедитесь, что он не нарушает <a href="#" class="connect__link">правил написания отзывов и комментариев</a></p>
		</div>
	</form>
</section>
