<div class="request-form">
	<form id="request-form">
		<div class="request-form__header">
			<h2>Получить консультацию</h2>
		</div>
		<button type="button" class="close close--no-desktop" name="button" aria-label="Закрыть"></button>
		<div class="request-form__content">
			<div class="row">
				<input type="text" name="surname" placeholder="Фамилия" />
			</div>
			<div class="row inline">
				<input type="text" name="name" class="required" placeholder="Имя" />
				<div class="asterisk">*</div>
			</div>
			<div class="row inline-small">
				<input type="text" name="patronymic" placeholder="Отчество" />
			</div>
			<div class="row">
				<input type="text" name="phone" class="required" placeholder="Телефон" />
				<div class="asterisk">*</div>
			</div>
			<div class="row">
				<input type="text" name="email" placeholder="Электронная почта" />
			</div>
			<div class="title">Удобное время звонка</div>
			<div class="row inline">
				<input type="text" name="date" class="required" placeholder="18 августа" />
			</div>
			<div class="row inline-smallest">
				<select name="hours">
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select>
			</div>
			<div class="row inline-smallest">
				<select name="minutes">
					<option value="00">00</option>
					<option value="10">00</option>
					<option value="20">00</option>
					<option value="30">00</option>
					<option value="40">00</option>
					<option value="50">00</option>
				</select>
			</div>
			<div class="smallinfo">* обязательные для заполнения поля</div>
			<div class="row">
				<input type="checkbox" name="eula" id="eula" checked/>
				<label for="eula">Я согласен на обработку персональных данных и получение информационной рассылки</label>
			</div>
			<div class="row">
				<button type="submit" class="button">Отправить</button>
			</div>
		</div>
	</form>
</div>
