<section class="reviews">
	<div class="block-title">
		<h2>
			Отзывы
		</h2>
		<!--<a href="#">Читать все</a>-->
	</div>
	<div class="reviews__wrapper">
		<div class="reviews__item">
			<div class="reviews__item-content">
				<div class="reviews__top">
					<div class="user-pic">
						<img src="" alt="">
					</div>
					<div class="reviews__info">
						<p class="user-name">Константин Александрович</p>
						<p class="reviews__date">10 декабря 2019</p>
						<div class="reviews__rating">
							<ul class="rating">
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item" aria-label="5">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="reviews__text">
					<p>
						Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
						Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
						Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает только при включении ручного фокуса.
					</p>
				</div>
				<a href="javascript:;" class="reviews__read">Читать еще</a>
			</div>
		</div>
		<div class="reviews__item">
			<div class="reviews__item-content">
				<div class="reviews__top">
					<div class="user-pic">
						<img src="" alt="">
					</div>
					<div class="reviews__info">
						<p class="user-name">Константин Александрович</p>
						<p class="reviews__date">10 декабря 2019</p>
						<div class="reviews__rating">
							<ul class="rating">
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item" aria-label="5">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="reviews__text">
					<p>
						Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
						Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
						Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает только при включении ручного фокуса.
					</p>
				</div>
				<a href="javascript:;" class="reviews__read">Читать еще</a>
			</div>
		</div>

		<div class="reviews__item">
			<div class="reviews__item-content">
				<div class="reviews__top">
					<div class="user-pic">
						<img src="" alt="">
					</div>
					<div class="reviews__info">
						<p class="user-name">Константин Александрович</p>
						<p class="reviews__date">10 декабря 2019</p>
						<div class="reviews__rating">
							<ul class="rating">
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item" aria-label="5">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="reviews__text">
					<p>
						Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
						Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
						Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает только при включении ручного фокуса.
					</p>
				</div>
				<a href="javascript:;" class="reviews__read">Читать еще</a>
			</div>
		</div>

		<div class="reviews__item">
			<div class="reviews__item-content">
				<div class="reviews__top">
					<div class="user-pic">
						<img src="" alt="">
					</div>
					<div class="reviews__info">
						<p class="user-name">Константин Александрович</p>
						<p class="reviews__date">10 декабря 2019</p>
						<div class="reviews__rating">
							<ul class="rating">
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
								<li>
									<svg width="14" height="13" class="rating__item" aria-label="5">
										<use xlink:href="img/icons/sprite.svg#rating-star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="reviews__text">
					<p>
						Габариты, удобство использования, функционал, качество фото, WiFi и Bluetooth.
						Батарея не сильно емкая, нет зарядки от USB, 4К видео только с центра матрицы, и только с фокусировкой по контрасту.
						Старые линзы EF-S через переходник работают хорошо, но есть нюанс - камера постоянно фокусируется, и притом постоянно крутит фокус линзы - думаю это высаживает батарею еще быстрее. На штатном объективе этого незаметно, там кольцо работает только при включении ручного фокуса.
					</p>
				</div>
				<a href="javascript:;" class="reviews__read">Читать еще</a>
			</div>
		</div>
	</div>
	<button class="reviews__add-btn simple-button">Оставить отзыв</button>


	<div class="reviews__add-popup">
		<div class="close">
			<span></span>
			<span></span>
		</div>
		<form action="" class="reviews__add-form">
			<h2 class="reviews__add-title">Оставить отзыв</h2>
			<div class="input-block">
				<textarea name="" id="" class="reviews__add-comment" placeholder="Напишите ваш отзыв"></textarea>
			</div>
			<div class="submit-block">
				<button class="reviews__add-submit" type="submit">Отправить</button>
				<p>Перед отправкой убедитесь, что он не нарушает <a href="">правил написания отзывов</a></p>
			</div>
		</form>
	</div>
</section>
