<section class="services">
	<ul class="services__list">
		<li class="services__item">
			<img src="img/icons/furniture.svg" alt="" class="services__icon" width="60" height="58">
			<h3 class="services__name services__name--test-drive">Заказать тест-двайв <br>в офис</h3>
			<p class="services__text">
				Это возможность временной эксплуатации мебели для оценки ее эргономики и удобства. По согласованию со специалистом ДЭФО мы привезем отдельные модели мебели для тестирования непосредственно в вашем офисе.
				<!--Компания ДЭФО редоставляет дополни- тельную расширенную гарантию сроком до 10 лет на отдельные модели кресел для руководителя и персонала, и кол- лекции мебели собственного производства.-->
			</p>
		</li>
		<li class="services__item">
			<img src="img/icons/3d.svg" alt="" class="services__icon" width="57" height="58">
			<h3 class="services__name services__name--project">Получить 3D-проект<br> бесплатно</h3>
			<p class="services__text">
				Это проект вашего будущего офиса с продуманной планировкой и визуализацией. Он включает в себя эскиз – план с учетом количества рабочих мест и зонирования, и 3D-макет – объемное изображение офиса в цвете.
				<!--Компания ДЭФО редоставляет дополни- тельную расширенную гарантию сроком до 10 лет на отдельные модели кресел для руководителя и персонала, и кол- лекции мебели собственного производства.-->

			</p>
		</li>
		<li class="services__item">
			<img src="img/icons/car.svg" alt="" class="services__icon" width="66" height="58">
			<h3 class="services__name services__name--specialist">Вызвать специалиста<br> в офис</h3>
			<p class="services__text">
				<!--Компания ДЭФО редоставляет дополни- тельную расширенную гарантию сроком до 10 лет на отдельные модели кресел для руководителя и персонала, и кол- лекции мебели собственного производства.-->

				Специалист бесплатно приедет к вам, оценит все детали проекта и предложит наилучшее решение для вашего офиса. Вы получаете готовый офис в короткие сроки и без лишних забот.
			</p>
		</li>
		<li class="services__item">
			<img src="img/icons/expert.svg" alt="" class="services__icon" width="60" height="58">
			<h3 class="services__name services__name--expert">Получить консультацию<br> эксперта</h3>
			<p class="services__text">
				<!--Компания ДЭФО редоставляет дополни- тельную расширенную гарантию сроком до 10 лет на отдельные модели кресел для руководителя и персонала, и кол- лекции мебели собственного производства.-->

				Специалист ДЭФО поможет подобрать наилучший вариант меблировки в соответствии с вашими целями. Он станет вашим персональным менеджером, который будет курировать этапы заказа, качество и сроки работ.
		</li>
		<!--<li class="services__item">-->
			<!--<img src="img/icons/document.svg" alt="" class="services__icon" width="60" height="58">-->
			<!--<h3 class="services__name services__name&#45;&#45;documents">Подготовить документацию под ФЗ-44 и ФЗ-223</h3>-->
			<!--<p class="services__text">-->
				<!--Компания ДЭФО редоставляет дополни- тельную расширенную гарантию сроком до 10 лет на отдельные модели кресел для руководителя и персонала, и кол- лекции мебели собственного производства.-->
			<!--</p>-->
		<!--</li>-->
		<li class="services__item">
			<img src="img/icons/soft-delivery.svg" alt="" class="services__icon" width="60" height="58">
			<h3 class="services__name services__name--soft-delivery">Заказать бережную доставку</h3>
			<p class="services__text">
				<!--Компания ДЭФО редоставляет дополни- тельную расширенную гарантию сроком до 10 лет на отдельные модели кресел для руководителя и персонала, и кол- лекции мебели собственного производства.-->

				Доставку мебели осуществляет «Служба высокого сервиса ДЭФО». Собственный грузовой автопарк и квалифицированные сотрудники гарантируют быструю и бережную доставку в удобное время.
			</p>
		</li>
	</ul>
</section>
