<article class="share">
	<h2 class="share__title">Поделиться с друзьями</h2>
	<div class="share__block">
		<a href="#" class="share__link">
			<svg class="share__mark" width="32" height="32">
				<use xlink:href="img/icons/sprite.svg#social-fb"></use>
			</svg>
		</a>
		<a href="#" class="share__link">
			<svg class="share__mark" width="32" height="32">
				<use xlink:href="img/icons/sprite.svg#social-vk"></use>
			</svg>
		</a>
		<a href="#" class="share__link">
			<svg class="share__mark" width="32" height="32">
				<use xlink:href="img/icons/sprite.svg#social-tw"></use>
			</svg>
		</a>
		<a href="#" class="share__link">
			<svg class="share__mark" width="32" height="32">
				<use xlink:href="img/icons/sprite.svg#social-ok"></use>
			</svg>
		</a>
		<a href="#" class="share__link">
			<svg class="share__mark" width="32" height="32">
				<use xlink:href="img/icons/sprite.svg#social-pn"></use>
			</svg>
		</a>
		<a href="#" class="share__link">
			<svg class="share__mark" width="32" height="32">
				<use xlink:href="img/icons/sprite.svg#social-ml"></use>
			</svg>
		</a>
	</div>
</article>
