//============ИНСТАГРАМ==========
.instagram {
	margin-bottom: 44px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -9px;
	}

	&__item {
		min-width: 115px;
		max-width: 115px;
		padding: 0 0 0 9px;
	}

	&__item-content {
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 100%;

		&:hover {
			.layer {
				opacity: 1;
			}
		}
	}

	.layer {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(51,51,51,0.6);
		justify-content: center;
		align-items: center;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}
}

@media (min-width: 768px) {
	.instagram {

		&__wrapper {
			margin: 0 -16px;
		}

		&__item {
			min-width: 204px;
			max-width: 204px;
			padding: 0 0 0 16px;
		}

		.layer {
			display: flex;
		}
	}
}

@media (min-width: 1280px) {
	.instagram {

		&__wrapper {
			margin: 0 auto;
			max-width: 1020px;
		}

		&__item {
			min-width: 100%;
			max-width: 100%;
			padding: 0 8px;
		}

		.slick__button {
			background: none;
			border: none;

			&--prev {
				left: -30px;
			}

			&--next {
				right: -30px;
			}
		}
	}
}

@media (min-width: 1920px) {
	.instagram {

		&__wrapper {
			margin: 0 auto;
			max-width: 1375px;
		}

		&__item {
			min-width: 100%;
			max-width: 100%;
			padding: 0 40px;
		}

		.image {
			img {
				width: 100%;
			}
		}

		.layer {
			display: flex;
		}
	}
}
