.auth-reg {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 30px auto 20px;
	padding: 22px 0;
	background: #fff;

	.auth-reg__close {
		position: absolute;
		right: 18px;
		top: 18px;
		display: none;
		width: 12px;
		height: 12px;
		cursor: pointer;
		z-index: 1;

		use {
			stroke: #BDBDBD;
		}
	}

	.auth-form, .forgot-form {
		position: relative;
		display: block;
		width: calc(100% - 20px);
		height: auto;
		margin: 0 10px;
		padding: 0;

		.auth-reg__header {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			margin: 0 auto 20px;
			padding: 0;
			font-size: 0;

			.switch-tab {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				margin: 0 auto 10px;
				padding: 10px 0;
				font-size: 14px;
				line-height: 19px;
				font-weight: 500;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.03em;
				border: 1px solid #333333;
				background: #fff;
				color: #333333;
				cursor: pointer;

				&.active {
					background: #333333;
					color: #fff;
				}
			}
		}

		.auth-reg__content {
			position: relative;
			display: none;
			width: 100%;
			height: auto;
			margin: 0 auto 10px;
			padding: 0;

			&.active {
				display: block;
			}
			.row {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				margin: 0 auto 10px;
				padding: 0;

				&.add-bottom {
					margin-bottom: 20px;
				}

				&.inline {
			
					&-small {
						display: inline-block;
						vertical-align: top;
						width: 100%;
					}

					&-smallest {
						display: inline-block;
						vertical-align: top;
						width: calc(33% - 5px);

						&.last {
							width: calc(66.66% - 5px);
						}
					}
				}

				.captcha {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: calc(50% - 5px);
					height: auto;
					margin: 0 auto;
					padding: 0;

					img {
						position: relative;
						display: block;
						width: 100%;
						height: auto;
						margin: 0 auto;
						padding: 0;
					}
				}

				.renew {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: calc(50% - 5px);
					height: auto;
					margin: 0;
					padding: 0;
					font-size: 12px;
					line-height: 14px;
					font-weight: 300;
					color: #828282;
					text-align: center;
					cursor: pointer;
				}

				.location {
					position: relative;
					display: inline-block;
					vertical-align: bottom;
					width: 100%;
					height: auto;
					margin: 20px auto 10px;
					padding: 0;
					text-align: left;

					.caption {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						width: auto;
						height: auto;
						margin: 0 5px 0 0;
						padding: 0;
						font-size: 14px;
						line-height: 15px;
						font-weight: 300;
						color: #828282;
					}

					.city {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						width: auto;
						height: auto;
						margin: 0 5px 0 0;
						padding: 0;
						font-size: 14px;
						line-height: 15px;
						font-weight: 400;
						color: #333333;
						cursor: pointer;
					}
				}

				input {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
					margin: 0 auto;
					padding: 15px 15px;
					border: 0;
					background: #F3F3F3;
					font-size: 14px;
					line-height: 19px;
					font-weight: 300;
					border: 1px solid #F3F3F3;

					input::placeholder {
						font-size: 14px;
						line-height: 19px;
						font-weight: 300;
						color: #BDBDBD;
					}

					&[type="checkbox"] {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						width: 16px;
						height: 16px;
						margin: 0 auto;
						padding: 0;
						border: 0;
						background: #E9E9E9;

						&:checked {
							background: url('/img/icons/input-checkbox.svg') center no-repeat;
						}
					}
				}

				.asterisk {
					position: absolute;
					display: block;
					right: 10px;
					top: 15px;
					width: 16px;
					height: 16px;
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 23px;
					font-weight: 500;
					color: #D33234;
				}

				.check {
					position: absolute;
					display: block;
					right: 10px;
					top: 22px;
					width: 16px;
					height: 16px;
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 23px;
					font-weight: 500;
					color: #D33234;
				}

				.eye {
					position: absolute;
					display: block;
					right: 36px;
					top: 16px;
					width: 21px;
					height: 21px;
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 23px;
					font-weight: 500;
					color: #D33234;
					cursor: pointer;
					background: url('../img/icons/icon-form-eye.svg') center no-repeat;
					background-size: 21px;
					
					&.active {
						background: url('../img/icons/icon-form-eye-closed.svg') center no-repeat;
					}
				}

				p {
					font-size: 14px;
					line-height: 19px;
					font-weight: 300;
					color: #828282;

					&.black {
						color: #333;
					}
				}

				label {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: calc(100% - 40px);
					height: auto;
					margin: 0 0 0 10px;
					padding: 0;
					font-size: 14px;
					line-height: 18px;
					font-weight: 300;
					color: #828282;
				}

				.button {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 100%;
					max-width: 100%;
					height: auto;
					margin: 20px 0 0;
					padding: 15px 0;
					border: 0;
					background: #D33234;
					font-size: 14px;
					line-height: 19px;
					font-weight: 400;
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 0.03em;

					&[disabled] {
						background: #ccc;
						color: #333;
					}

					&.outlined {
						text-align: center;
						color: #000;
						background: #fff;
						margin: 10px 0 0;
					}
				}
			}

			.hr {
				position: relative;
				display: block;
				width: 100%;
				height: 1px;
				margin: 20px auto 20px;
				padding: 0;
				background: #efefef;
			}

			.title {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				margin: 0 0 20px;
				padding: 0;
				font-size: 18px;
				line-height: 23px;
				font-weight: 400;
			}

			.social {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0;
				list-style-type: none;
				
				li {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 32px;
					height: auto;
					margin: 0 8px 0 0;
					padding: 0;

					&__link {
						position: relative;
						display: block;
						width: 100%;
						height: auto;
						margin: 0;
						padding: 0;

						.icon {
							position: relative;
							display: block;
							width: 100%;
							height: auto;
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 568px) {
	.auth-reg {
		padding: 60px 0;
		max-width: 610px;

		.auth-reg__close {
			display: block;
		}

		.auth-form, .forgot-form {
			width: calc(100% - 88px);
			margin: 0 44px;

			.auth-reg__header {
				.switch-tab {
					display: inline-block;
					vertical-align: bottom;
					width: 50%;
					margin: 0 auto 5px;
				}
			}

			.auth-reg__content {

				.row {

					&.inline {
				
						&-small {
							display: inline-block;
							vertical-align: top;
							width: 50%;
						}

						&-smallest {
							display: inline-block;
							vertical-align: top;
							width: calc(25% - 5px);

							&.last {
								width: calc(25% - 5px);
							}
						}
					}

					.captcha {
						position: relative;
						display: block;
						width: 100%;
						height: auto;
						margin: 0 auto 5px;
						padding: 0;

						img {
							position: relative;
							display: block;
							width: 100%;
							height: auto;
							margin: 0 auto;
							padding: 0;
						}
					}

					.renew {
						position: relative;
						display: block;
						width: 100%;
						height: auto;
						margin: 0 auto;
						padding: 0;
						font-size: 12px;
						line-height: 14px;
						font-weight: 300;
						color: #828282;
						text-align: center;
					}

					.button {
						max-width: 140px;

						&.reg {
							max-width: 180px;
						}

						&.outlined {
							max-width: 200px;
							margin: 20px 0 0;
						}
					}
				}
			}
		}
	}
}


@media (min-width: 568px) {
	.auth-reg {
		padding: 60px 0;
		max-width: 520px;

		.auth-reg__close {
			display: block;
		}

		.auth-form, .forgot-form {
			width: calc(100% - 88px);
			margin: 0 44px;

			.auth-reg__header {
				.switch-tab {
					width: 50%;
				}
			}

			.auth-reg__content {

				.row {

					&.inline {
				
						&-small {
							display: inline-block;
							vertical-align: top;
							width: 50%;
						}

						&-smallest {
							display: inline-block;
							vertical-align: top;
							width: calc(25% - 5px);

							&.last {
								width: calc(25% - 5px);
							}
						}
					}

					.captcha {
						position: relative;
						display: block;
						width: 100%;
						height: auto;
						margin: 0 auto 5px;
						padding: 0;

						img {
							position: relative;
							display: block;
							width: 100%;
							height: auto;
							margin: 0 auto;
							padding: 0;
						}
					}

					.renew {
						position: relative;
						display: block;
						width: 100%;
						height: auto;
						margin: 0 auto;
						padding: 0;
						font-size: 12px;
						line-height: 14px;
						font-weight: 300;
						color: #828282;
						text-align: center;
					}

					.button {
						max-width: 140px;

						&.reg {
							max-width: 180px;
						}

						&.outlined {
							max-width: 200px;
							margin: 20px 0 0;
						}
					}
				}
			}
		}
	}
}


@media (min-width: 768px) {
	.auth-reg {
		max-width: 580px;
	}
}


@media (min-width: 1280px) {
	.auth-reg {
		max-width: 609px;
	}
}