.banner-question {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 20px;
	background: #fff;

	p {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 0 20px;
		padding: 0;
		color: #333333;
		font-size: 16px;
		line-height: 21px;
		font-weight: 300;
	}

	.contacts {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 0 20px;
		padding: 0;
		color: #D33234;
		font-size: 18px;
		line-height: 27px;
	}

	.button {
		position: relative;
		display: block;
		width: 160px;
		height: auto;
		padding: 15px 0;
		margin: 20px 0 0;
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		background: #D33234;
		color: #fff;
		cursor: pointer;
	}

}
