.error-page {

	&__wrap {
		padding: 53px 0 83px;
	}

	&__image {
		max-width: 200px;
		margin: 0 auto 37px;
	}

	&__title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 24px;
		color: $dark;
		font-weight: 400;
		text-align: center;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 21px;
		color: $dark;
		text-align: center;
		max-width: 281px;
		margin: 0 auto 36px;
	}

	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: $header-dark;
		border: 1px solid $dark;
		border-radius: 1px;
		text-transform: uppercase;
		display: block;
		padding: 15px;
		max-width: 200px;
		text-align: center;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.error-page {
		&__wrap {
			padding: 190px 0 129px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			max-width: 600px;
			margin: 0 auto;
		}

		&__image {
			max-width: 261px;
			margin: 0;
		}
		&__title {
			text-align: left;
		}
		&__text {
			text-align: left;
		}

		&__link {
			margin: 0;
		}

	}
}


@media (min-width: 768px) {
	.error-page {
		&__wrap {
			padding: 132px 0 136px;
			display: block;
			max-width: 600px;
			margin: 0 auto;
		}

		&__image {
			max-width: 407px;
			margin: 0 auto 50px;
		}
		&__title {
			text-align: center;
		}
		&__text {
			text-align: center;
		}

		&__link {
			margin: 0 auto;
		}

	}
}
