.portfolio {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 10px 0;

	&__item {
		position: relative;
		display: block;
		width: 100%;
		max-width: 280px;
		height: auto;
		min-height: 520px;
		margin: 0 10px 15px 0;
		padding: 0;
		background: #fff;
		text-align: right;
		box-shadow: none;
		overflow: hidden;

		.image {
			position: relative;
			display: block;
			width: 150%;
			height: auto;
			margin: 0;
			padding: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			img {
				max-height: 200px;
			}
		}

		.caption {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 30px 20px;
			text-align: left;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			.title {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				margin: 0 0 20px;
				padding: 0;
				font-size: 16px;
				line-height: 21px;
				font-weight: 400;
			}

			.text {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				margin: 0 0 20px;
				padding: 0;
				font-size: 14px;
				line-height: 21px;
				font-weight: 300;
				color: #292E3C;
			}

			.button {
				position: relative;
				display: block;
				width: 100%;
				padding: 15px 0;
				margin: 0 auto;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				color: rgba(41, 46, 60, 0.88);
				text-align: center;
				text-transform: uppercase;
				border: 1px solid #292e3c;
				background-color: transparent;
				-webkit-transition: all 0.2s;
				transition: all 0.2s;

				&:hover {
					-webkit-box-shadow: none;
					box-shadow: none;
					background: #D33234;
					border: 1px solid transparent;
					color: #ffffff;
				}
			}
		}
	}
}


@media(min-width: 375px) {
	.portfolio {
		&__item {
			max-width: 350px;
			margin: 0 10px 15px 0;
			min-height: 480px;
		}
	}
}

@media(min-width: 414px) {
	.portfolio {
		&__item {
			max-width: 390px;
			margin: 0 10px 15px 0;
			min-height: 460px;

			.image {
				width: 120%;
			}
		}
	}
}

@media(min-width: 568px) {
	.portfolio {

		.slick-slide {margin-right: 10px;}

		&__item {
			max-width: 340px;
			min-height: 600px;
			margin: 0 10px 15px 0;

			.image {
				width: 100%;

				img{
					max-height: 400px;
				}
			}
		}
	}
}

@media(min-width: 768px) {
	.portfolio {
		display: block;
		width: 100%;
		margin: 0;

		&__item {
			position: relative;
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			min-height: 0;
			margin: 0 0 15px;
			padding: 0;
			background: #fff;
			text-align: right;

			.image {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 65%;
				height: auto;
				margin: 0;
				padding: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				overflow: hidden;

				img {
					max-width: 150%;
				}
			}

			.caption {
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				bottom: 0;
				width: 35%;
				height: 100%;
				margin: 0;
				padding: 30px 30px;
				text-align: left;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;


				.title {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
					margin: 0 0 20px;
					padding: 0;
					font-size: 16px;
					line-height: 21px;
					font-weight: 400;
				}

				.text {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
					margin: 0 0 20px;
					padding: 0;
					font-size: 14px;
					line-height: 21px;
					font-weight: 300;
					color: #292E3C;
				}

				.button {
					position: absolute;
					display: block;
					bottom: 30px;
					left: 30px;
					width: calc(100% - 60px);
					padding: 15px 0;
					margin: 0 auto;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					color: rgba(41, 46, 60, 0.88);
					text-align: center;
					text-transform: uppercase;
					border: 1px solid #292e3c;
					background-color: transparent;
					-webkit-transition: all 0.2s;
					transition: all 0.2s;

					&:hover {
						-webkit-box-shadow: none;
						box-shadow: none;
						background: #D33234;
						border: 1px solid transparent;
						color: #ffffff;
					}
				}
			}

			&:nth-child(2n) {
				text-align: left;

				.caption {
					left: auto;
					right: 0;
				}
			}
		}

		&-side {
			position: relative;
			display: none;
			vertical-align: top;
			width: calc(28% - 20px);
			height: auto;
			margin: 0 auto;
			padding: 10px 0;
		}

	}
}

@media(min-width: 1280px) {
	.portfolio {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 70%;
		height: auto;
		margin: 0 2% 0 0;
		padding: 10px 0;

		&__item {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			margin: 0 0 15px;
			padding: 0;
			background: #fff;
			text-align: right;
			box-shadow: 0 0 20px 0  rgba(0,0,0,0.1);

			.image {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 72%;
				height: auto;
				margin: 0;
				padding: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.caption {
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				bottom: 0;
				width: 28%;
				height: 100%;
				margin: 0;
				padding: 30px 30px;
				text-align: left;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;

				.title {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
					margin: 0 0 20px;
					padding: 0;
					font-size: 16px;
					line-height: 21px;
					font-weight: 400;
				}

				.text {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
					margin: 0 0 20px;
					padding: 0;
					font-size: 14px;
					line-height: 21px;
					font-weight: 300;
					color: #292E3C;
				}

				.button {
					position: absolute;
					display: block;
					bottom: 30px;
					left: 30px;
					width: calc(100% - 60px);
					padding: 15px 0;
					margin: 0 auto;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					color: rgba(41, 46, 60, 0.88);
					text-align: center;
					text-transform: uppercase;
					border: 1px solid #292e3c;
					background-color: transparent;
					-webkit-transition: all 0.2s;
					transition: all 0.2s;

					&:hover {
						-webkit-box-shadow: none;
						box-shadow: none;
						background: #D33234;
						border: 1px solid transparent;
						color: #ffffff;
					}
				}
			}

			&:nth-child(2n) {
				text-align: left;

				.caption {
					left: auto;
					right: 0;
				}
			}
		}

		&-side {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: calc(28% - 20px);
			height: auto;
			margin: 0 auto;
			padding: 10px 0;
		}

	}
}
