.see-more-points {
	position: absolute;
	left: 5px;
	top: 50%;
	z-index: 2;
	max-width: 309px;

	&__icons {
		width: 32px;
		height: 32px;
		border-radius: 100px;
		position: absolute;
		left: 30px;
		top: -16px;
		background-color: $white;
		border: 1px solid $header-search-bg;
		cursor: pointer;
		text-align: center;
		line-height: 30px;
		transition: 0.3s;
		z-index: 5;
		&:before, &:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 9px;
			height: 2px;
			background-color: $header-dark;
			opacity: 1;
			transition: 0.3s;
		}
		&:after {
			transform: rotate(90deg);
		}

		.see-more-points__svg {
			opacity: 0;
			transition: 0.3s;

			use {
				fill: $white;
			}
		}

		&.active {
			background-color: $red;
			transition: 0.3s;
			z-index: 5;
			&:before, &:after {
				opacity: 0;
				transition: 0.3s;
			}

			.see-more-points__svg {
				opacity: 1;
				transition: 0.3s;
			}
		}
	}

	&__content {
		display: none;
		background-color: $white;
		padding: 10px 32px 10px 8px;
		z-index: 4;
		align-items: center;

		&.active {
			display: flex;
		}
	}

	&__image {
		min-width: 88px;
		margin-right: 16px;
	}

	&__text {
		position: relative;
	}

	&__name {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 11px;
	}

	&__price {
		font-size: 24px;
		line-height: 29px;
		color: $header-dark;
	}

	&__link {
		position: absolute;
		transform: rotate(-90deg);
		height: 16px;
		margin: auto;
		right: -8px;
		top: 0;
		bottom: 0;
		use {
			stroke: black;
		}
	}

}
