.shop-adress {
	background-color: $white;
	margin: 20px -8px 0;

	&-page {
		h1 {
			display: none;
		}
	}

	&__map {
		.shop-adress__item {
			padding: 0;
			border: 0;

			&:last-child {
				border: 0;
			}
		}
	}

	&__menu {
		margin-bottom: 40px;

		&--list {
			padding: 0;
			margin: 0;
			font-size: 16px;
			line-height: 19px;
			font-weight: 300;
			color: $call-form;
			justify-content: space-around;
			display: flex;
			text-transform: uppercase;
		}

		&--item {
			list-style: none;

			&-active {
				color: $header-dark;
				font-weight: 500;
			}
		}
	}

	&__near-metro {
		position: relative;
		margin: 16px 0;
		display: flex;

		&--input {
			width: 100%;
			background-color: $white;
			height: 48px;
			border: 0;
			color: $call-form;
			text-transform: uppercase;
			font-size: 12px;
			padding: 0 20px;
		}

		&--btn {
			width: 48px;
			height: 48px;
			background-color: $red;
			position: absolute;
			right: 0;
			display: flex;

			img {
				margin: 0 auto;
			}
		}
	}

	&__item {
		border-bottom: 1px solid $input-background;
		padding: 20px;

		&:last-child {
			border-top: 10px solid $main-bg;
		}

		ul {
			font-weight: 300;
			font-size: 14px;
			line-height: 21px;
			color: $header-dark;
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				position: relative;
				padding-left: 20px;
				margin-bottom: 16px;

				&:before {
					content: "";
					width: 4px;
					height: 4px;
					display: block;
					position: absolute;
					background-color: $red;
					border-radius: 100px;
					left: 0;
					top: 8px;
				}
			}
		}
	}

	&__list {
		margin-bottom: 50px;

		&--title {
			font-size: 18px;
			line-height: 21px;
			color: $header-dark;
			margin-bottom: 12px;
		}

		&--yes {
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
			height: 22px;
			color: $dark;
			position: relative;
			padding: 0 5px;
			border: 1px solid $rating-default;
			border-radius: 6px;
			margin-bottom: 24px;
			box-sizing: content-box;
			display: table;

			&:before {
				content: "";
				width: 10px;
				height: 8px;
				background-image: url(../img/icons/adress/yes-icon.svg);
				display: inline-block;
				margin-right: 16px;
			}
		}

		&--text {
			color: $header-dark;
			font-weight: 300;
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--metro {
			&:after {
				content: "";
				display: inline-block;
				margin-left: 5px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
			}

			&--blue:after {
				background-color: #2f80ed;
			}
		}

		&--icons {
			img {
				display: inline-block;
				margin-right: 30px;
			}
		}
	}
}

.sorting__list--adress {
	.list__item.select {
		width: 100%;

		.list__title .z99, .filter label {
			font-weight: 400;
			font-size: 12px;
		}
	}
}

@media(min-width: 768px) {
	.shop-adress {
		&-page {
			h1 {
				display: block;
				margin-bottom: 24px;
			}
		}

		&__top {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin: 0 -8px;
		}

		&__menu {
			width: 49%;
			margin-top: 15px;
			margin-bottom: 25px;
		}

		&__near-metro {
			width: 49%;
			margin: 0;
		}

		&__item {
			display: flex;
			flex-flow: row nowrap;
			padding: 0 20px;

			&:last-child {
				padding-top: 20px;
				padding-bottom: 20px;
				display: block;
			}
		}

		&__left {
			width: 37%;
			padding-right: 3%;
			padding-top: 20px;
			border-right: 1px solid $product-border;
		}

		&__right {
			width: 55%;
			padding: 20px 0 20px 5%;
		}
	}
	.sorting__list--adress {
		width: 49%;
		order: 4;

		&:last-child {
			order: 3;
		}
	}
}

@media(min-width: 1280px) {
	.shop-adress {
		&__top {
			flex-flow: nowrap;
		}

		&__near-metro {
			order: 3;
			width: 29%;
		}

		&__menu {
			order: 4;
			width: 29%;
		}

		&__left {
			width: 31%;
			padding-right: 24px;
		}

		&__right {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding-left: 24px;
		}

		&__list--text {
			width: 33.3%;
		}

		&__item:last-child {
			.shop-adress__list--text {
				width: 100%;
			}
		}
	}
	.sorting__list--adress {
		order: 2;
		width: 29%;
		margin: 0 1%;

		&:last-child {
			order: 1;
			margin: 0;
		}
	}
}

@media(min-width: 1920px) {
	.shop-adress-page .header .product-menu.not-main-page {
		display: block;
	}
	.shop-adress {
		&__top {
			justify-content: flex-start;
		}

		&__near-metro {
			width: 296px;
		}

		&__menu {
			margin-left: auto;
			width: 296px;
		}

		&__left {
			width: 338px;
			padding-right: 0;
		}

		&__right {
			flex-wrap: nowrap;
		}

		&__list--text {
			width: 25%;
		}
	}
	.sorting__list--adress {
		width: 296px;
	}
}
