.design {
	&__work-stage {
		&--title {
			font-weight: normal;
			font-size: 18px;
			margin-top: 40px;
		}

		&--list {
			list-style-type: none;
			counter-reset: num;
			min-height: 114px;
			background: $white;
			padding: 32px 20px;
			overflow: auto;
			display: flex;
		}

		&--item {
			position: relative;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: $red;
			min-width: 240px;
			padding-top: 56px;
			float: left;
			margin-right: 14px;

			b {
				display: none;
				font-weight: 300;
			}

			&:before {
				content: counter(num);
				counter-increment: num;
				display: inline-block;
				position: absolute;
				font-weight: 500;
				font-size: 36px;
				line-height: 42px;
				color: $header-dark;
				top: 0;
				left: 0;
			}

			&:after {
				content: "";
				position: absolute;
				background: url(../img/icons/design-project/work-stage-icon.svg);
				width: 18px;
				height: 32px;
				top: 0;
				left: 110px;

			}

			&:last-child {
				&:after {
					background: transparent;
				}
			}
		}
	}
}

@media(min-width: 768px) {
	.design {
		&__work-stage {
			&--title {
				font-size: 24px;
			}

			&--list {
				flex-flow: row wrap;
			}

			&--item {
				width: 50%;
				margin: 0;
				float: none;
				min-height: 120px;
				padding-right: 185px;
				margin-bottom: 20px;

				&:nth-child(2) {
					padding-right: 120px;
				}

				&:after {
					left: 180px;
				}
			}
		}
	}
}

@media(min-width: 1280px) {
	.design {
		&__work-stage {

			&--item {
				padding-right: 0;
				min-width: auto;
				min-height: 160px;

				&:nth-child(2) {
					padding-right: 0;
				}
			}
		}
	}
}

@media(min-width: 1920px) {
	.design {
		&__work-stage {

			&--item {
				width: 25%;
				min-height: 120px;

				&:last-child {
					display: none;
				}

				&:nth-child(8):after {
					display: none;
				}

				span {
					display: none;
				}

				b {
					display: block;
				}
			}
		}
	}
}
